<div class= "content-wrapper">
  <table class="table table-user-information">
  <center><h1 style="color:red;"><%=current_user.name%> Leave-list</h1></center>
    <thead  class="table-dark", style="color:green;" >
      <th>leave type</th>
      <th>leave Unit</th>
      <th>reason</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Status</th>
    </thead>
    <tbody  class="table-info">
    <% @leave_managements.each do |l|%>
      <tr>
        <td><%= l.leave_type %></td>
        <td><%= l.leave_unit %></td>
        <td><%= l.reason %></td>
        <td><%= l.start_date %></td>
        <td><%= l.end_date %></td>
        <td style="color:orange;"><%= l.status %></td>
        
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
